<section id="request-reset-password">
    <div class="container-fluid">
        <div class="wrapper-login">
            <div class="card">
                <div class="card-header">
                    Reset password
                </div>

                <div class="card-block">
                    <form name="vm.requestResetPassword" class="p-20" ng-submit="vm.onRequestResetPasswordSubmit()">
                        <div class="form-group p-b-10">
                            Enter your email:
                        </div>

                        <div class="form-group p-b-10">
                            <input type="email" name="email" class="form-control"
                                   placeholder="Email" required="" autofocus=""
                                   ng-model="vm.resetPasswordRequestViewModel.email">
                            <validation-messages form="vm.requestResetPassword"
                                                 model="vm.resetPasswordRequestViewModel"
                                                 field-name="email"></validation-messages>
                        </div>

                        <div class="form-group no-margin text-left">
                            <button class="btn btn-primary pull-right" type="submit">
                                Отправить
                            </button>
                            <button class="btn btn-default" ui-sref="publicRoot.login">
                                Назад
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
