<section id="reset-password">

    <!--Begin: Content Section-->
    <div class="container-fluid">
        <div class="wrapper-login">
            <div class="card">
                <div class="card-header">
                    Reset password
                </div>
                <div class="card-block">
                    <form name="vm.resetPasswordForm" class="p-20" ng-submit="vm.onResetPasswordSubmit()">
                        <div class="col">
                            Enter new password
                        </div>
                        <div class="form-group">
                            <div class="col">
                                <input name="password" class="form-control"
                                       placeholder="New pasword" type="password"
                                       ng-model="vm.resetPasswordViewModel.changePassword.password">

                                <validation-messages form="vm.resetPasswordForm"
                                                     model="vm.resetPasswordViewModel"
                                                     field-name="password">
                                </validation-messages>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col">
                                <input name="passwordVerify" class="form-control"
                                       placeholder="Your password again" type="password"
                                       ng-model="vm.resetPasswordViewModel.changePassword.passwordVerify">

                                <validation-messages form="vm.resetPasswordForm"
                                                     model="vm.resetPasswordViewModel"
                                                     field-name="passwordVerify">
                                </validation-messages>
                            </div>
                        </div>

                        <div class="col">
                            <button class="btn btn-default" ui-sref="publicRoot.login">
                                Back
                            </button>
                            <button class="btn btn-primary pull-right" type="submit">
                                Send
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>