<ui-select ng-model="vm.model"
           theme="bootstrap"
           name="{{::vm.name}}"
           ng-disabled="vm.isDisabled"
           title="{{::vm.title}}">
    <ui-select-match
            allow-clear="false"
            placeholder="{{::vm.placeholder}}">{{$select.selected[vm.searchString]}}
    </ui-select-match>
    <ui-select-choices
            repeat="item in vm.entities.list | filterStartsWithFirst : vm.searchString : $select.search track by $index"
            refresh="vm.loadEntities($select)"
            minimum-input-length="1"
            refresh-delay="500"
    >
        <div ng-bind-html="item[vm.searchString] | highlight: $select.search"></div>
    </ui-select-choices>
</ui-select>