<div class="well no-background no-border">

    <data-kpi-positions-list related-to="{{vm.entityNamesConstant.position}}"
                             model="vm.position">
        <data-kpi-positions-list>

            <hr>

            <div class="form-group text-right p-t-15">
                <div class="col-xs-12">
                    <button ng-click="vm.onUpdateSubmitCancel()"
                            class="btn btn-default" type="button">Back to list
                    </button>
                </div>
            </div>
</div>
